.about-us-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-us-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.about-us-container p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}